html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
